---
import config from 'virtual:starlight/user-config';

import LanguageSelect from 'virtual:starlight/components/LanguageSelect';
import Search from 'virtual:starlight/components/Search';
import SiteTitle from 'virtual:starlight/components/SiteTitle';
import SocialIcons from 'virtual:starlight/components/SocialIcons';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
	config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="header sl-flex">
	<div class="sl-flex left-group">
		<SiteTitle />
	</div>
	{shouldRenderSearch && <Search />}
	<div class="sl-hidden md:sl-flex right-group sl-gap-1">
		<SocialIcons />
		<ThemeSelect />
		<LanguageSelect />
	</div>
</div>

<style>
	.header {
		gap: var(--sl-nav-gap);
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.left-group {
		align-items: center;
		gap: 0.5rem;
	}

	.right-group {
		gap: 1rem;
		align-items: center;
	}
</style>
