---
import type { Props } from "@astrojs/starlight/props";
---

<a href="/" class="site-title">
  kintsu
</a>

<style>
  .site-title {
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--sl-color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .site-title:hover {
    color: var(--sl-color-white);
    opacity: 0.9;
  }
</style>
